src/main/mule/mulejenkin-cicd-deploy-stdiofile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="86decbd1-ca83-4c0f-ba51-42a1b9280b71" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mulejenkin-cicd-deploy-stdiofileFlow" doc:id="a2b4c315-f75a-4187-8c30-b7d6ea71cb9b" >
		<http:listener doc:name="Listener" doc:id="721647df-668a-4909-90fe-dfc0ee8f27c3" config-ref="HTTP_Listener_config" path="/testcicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="8a5c759d-eaac-4664-a56b-69470514cef0" message="testing jenkin CICD"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2d47824d-9a38-42b1-894a-21a9e71f32a0" />
	</flow>
</mule>
